<link rel="stylesheet" th:href="@{/style.css}" type="text/css">
<h1>
    <span th:text="${id}"></span>번
    질문 상세내용
</h1>

<h2 th:text="${question.subject}"></h2>
<div th:text="${question.content}"></div>

<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

<form method="POST" th:action="@{|/answer/create/${question.id}|}">
    <!-- 여러줄 입력이 가능한 input -->
    <div>
        <span>내용</span>
        <br>
        <textarea name="content" placeholder="내용" rows="15"></textarea>
    </div>
    <button type="submit">답변등록</button>
</form>

<div>
    <ul>
        <li th:each="answer : ${question.answerList}" th:text="|${answer.id}번답변 : ${answer.content}|"></li>
    </ul>
</div>